html{
    background-color:rgba(195, 73, 73, 0.1);
}

body{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    max-width: 650px;
    margin: auto;
    margin-top: 30px;
}

#description{
    background-color: rgba(45, 5, 26, 0.61);
    padding: 10px;
    border-radius: 8px;
    box-shadow: inset;
    color: white;
    max-width: 650px;
    text-align: center;
    margin: auto;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(209, 78, 179);
}

body:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgb(62, 4, 61);
}

form{
    display: flex;
    flex-direction: column;
}

input:hover{
    background-color: rgba(57, 43, 43, 0.325);
    color: white;
}

button{
    width: 70px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding: 2px;
    background-color: rgba(68, 4, 44, 0.623); 
    border-radius: 5PX;
    padding: 5px;
}

button:hover{
    box-shadow: 0 4px 15px salmon;
    background-color: white;
}

label{
    margin-top: 10px;
}

option{
    margin: 0;
}

#name-label, #email-label, #number-label, #q1, #q2, #q3, #q4{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(131, 13, 82, 0.063);
}

input{
    margin-left: 30px;
    border-radius: 5px;
    max-width: 70%;
}

select{
    margin-left: 30px;
    max-width: 40%;
}

textarea{
    margin-left: 30px;
    border: 10px;
}

form{
    background-color: rgba(150, 107, 135, 0.129);
    padding: 10PX;
    border-radius: 10px;
    max-width: 650px;
    margin: auto;
}

